
#Register{

  width : 100%;
  height : 40px;
  border : none;
  border-radius: 10px;
  background-color: rgb(51, 51, 51);
  color : white;
  font-size: 15px;
  margin-bottom:  20px;
  margin-top:  20px;

}
.item, .total{

  display : flex;
  justify-content: space-between;
}

.shipping, .code {

  display : flex;
  flex-direction: column;
}

.Summary{
  
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

 width : 81%;
 height : 93.6%;
 background-color: rgb(219, 216, 216);
 padding : 20px 20px 20px 40px;
  

}

hr{
  color: gray;
  margin-top: 40px;
}

select{

  background-color: transparent;
  color : rgb(99, 99, 99);
  width : 250px;
  height: 40px;
}

#side, h4 {

  color : rgb(119, 118, 118);
  text-align: start;
}

.total{

  display : flex;
  justify-content: space-between;

}